/* Index HTML */
*{
  margin: 0;
  padding: 0,
}
.header
{
  height: 100vh;
  
}
.navbar-style
{
  box-shadow: 0 5px 10px #efefef;
}
.p
{ color: black;

}
.Biopick
{

}
.page-header
{
  color:darkblue;
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.card-title
{
  font-style: oblique;
  color: rgb(22, 161, 161);
  font-weight: bolder;
}
.card-subtitle
{
  color: rgb(0, 139, 120);
  font-style: oblique;
  font-weight: bold;
}

/* Contact HTMl*/
#contactheader
{
  color: darkcyan;
  font-style: oblique;
  font-weight: bold;
}
#pleasecontact
{
  color: blue;
  font-size: inherit;
  font-weight: normal;
  font-style: oblique;
  font-variant: small-caps;
}
.contact
{
  width: auto;
  float: center;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 150px;
}
.contact-row
{
color: rgba(236, 230, 230, 0);
outline-width: thick;
outline-style: groove;
outline-offset: 600px;
}
.header
{
  color: rgba(127, 255, 212, 0.678);
  outline-color: black;
  outline-width: thick;
}
* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 80%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}